* {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
  margin: 0;
  max-width: 100vw;
}

header {
  padding: 10px 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.pure-g {
  display: flex;
  flex-wrap: wrap;
}

.pure-g-item {
  position: relative;
}

figure {
  margin: 5px auto;
  padding: 15px;
  text-align: center;
  text-align: center;
  align-items: center;
}

figcaption {
  width: 80px;
  text-wrap: wrap;
  font-size: 12px;
}

.section-normal {
  padding: 25px 0;
  text-align: center;
}

.section-normal h3 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}

.bg-gray-light::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 30px;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
  background-color: #97939389;
}

.bg-gray-mid::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 30px;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
  background-color: #2522226c;
}

.bg-gray-dark::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 30px;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
  background-color: #25222294;
}

.active::after {
  border: 2px solid #f50;
  top: 18px;
  left: 28px;
}
